.column{
    display:grid;
   margin-top: 5%;
    grid-template-columns:repeat(2,auto); 
}

.container{
 width: 60%;
 margin-right: 40%; 
 height: 90%;
     
}

.box-container{
    margin-left: 30%;
}
