
.screen{
    margin-right:50px;
    margin-left:100px;
    margin-top:50px;
    background-color:#3e3e3e;
    border-radius: 15px;
    border:1px solid white;
}

/*====================
    Form ko Tauko
=====================*/
.screen-header{
    /* display: grid; */
  /* grid-template-rows:0.2,auto; */
  margin-top:20px;
  background-color: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

/*========================
  Form ko Slim body
=========================*/
.screen-body{
  /* display:flex; */
    /* width:100%; */
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    /* height:100%; */
}


/*=====================
    Form ko breast
=======================*/
  .modal-design {
    width: 40%;
    height: 90%;
  }
  .round-shape {
    width: 150%;
    height: 150%;
    transform: translate(-40%, -10%);
    border-radius: 50%;
    background-color: #cdb196;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }

/*=====================================
      The Form begins
==========================================*/
.form-body{
    /* margin-left:40%; */
    margin-right:0;
    margin-top:0;
    width: 59%;
    height: 100%;
    /* position: absolute; */
  }
.input-field{
    display:grid;
    margin:2vh auto;
    padding: 1vh;
    border-radius:5px;

}

/*===========================================
      Animating placeholder
=============================================*/
label{
  position:relative;
}
.input-field>label>input ~span{
  position:absolute;
  top:30px;
  left:5px;
  color:grey;
  transition:top 1s ease
  /* margin-left:100px; */
}
.input-field >label> input{
  padding: 10px 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* margin-bottom:20px; */
  margin-top:20px;
  /* font-family:"Viner Hand ITC", "Comic Sans MS", Arial, Helvetica, sans-serif; */
  font-size: 1.1vw;
}
.input-field>label>input:focus ~ span{
  top:0px;
  color:black;
  font-size:bold;
 }

.submit-btn{
  margin-top:10px;
  border:3px solid white;
  background-color: #cdb196;
  width:200px;
  height:40px;
  border-radius:30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all .35s;
}
.submit-btn:hover{
  background: gray;
  color:White;
}
.submit-btn span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}
