.App {
  /* text-align: left; */
  /* background-color:#CEC6C6; */
}

.App-header {
 
  
  /* display: f;
  flex-direction: column; */
  /* height:100%; */
  /* align-items: center;
  justify-content: center; */
  

}

.App-link {
  color: #61dafb;
}
.App-body{
  /* margin: 5px 50px 5px 50px; 
  display:flex;
  flex-direction:row; */
  /* background-color:#CEC6C6;*/
}


