.navigation-screen{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* img{
    height:100%;
    width:100%;
} */

.logo{
    position:absolute;
    top:40px;
    left:40px;
    color:white;
}

/*========================
        Navigation
======================*/
.navigation-bar{
    position:absolute;
    display:inline-block;
    top:40px;
    left:65%;
    color:white;
    margin-right:0px;
}

.navigation-bar li{
    display:inline-block;
    color:white;
    overflow-wrap:break-word
    
}
.navigation-bar li a{
    color:white;
    margin:10px;
    text-transform:uppercase;
    font-size:80%;
    text-decoration: none;
    list-style: none;
   ;
    
}
.navigation-bar li a:hover{
    border-bottom:1px solid black;
}
/*====================================
    Title
=====================================*/
.title{
    display:inline-block;
    position:absolute;
    top:35%;
    left:28%;
    color:white;
}
.title p{
    font-size: 3vw;
    font-weight: 300;
}

/*========================
    Explore Button
==========================*/

.exp-btn{
    display:inline-block;
    position:absolute;
    top:50%;
    left:48%;
}
.exp-btn a{
    color:white;
    padding: 5px, 5px,5px, 5px;
    font-size:3vw;
    border:1px solid;
    border-radius: 5px;
    text-decoration: none;
}
.exp-btn a:hover{
    background: white;
    color: black;
}
.color{
    display:none;
}