.navbar {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
  }
  
 
  .a {
    display: block;
    color: white;
    text-align: center;
    padding: 44px;
    text-decoration: none;
  }
  
  .a:hover {
    background-color: #111;
  }