.attendance{
    display:flex;
    flex-direction: row;
    height:100%;

}
/*========================================
        adminNavbar.css
========================================*/
.adminNavbar{
    background-color:#3c8dbc;
    height: 8vh;
}

/*=======================================
        Side-bar.css
===========================================*/
.sidebar{
    background-color:#3c3c3c;
    width:17%;
    min-height:100vh;
    border: 1px solid white;
    box-shadow: 0 5px #999;
}
.sidebar-header{
    background-color:#282828;
    min-height:30vh;
}
.column{
    padding-top: 60px;
}
.faace{
    width: 60px;
    height: 60px;
}
.toptext{
    color: white;
    margin-left: 10%;
}
.search-container{
    text-align: center;
    /* padding-top: 80px; */
    
}
.search-bar{
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 6px;
    background-color: #505050;
    border: none;
    width: 90%;
}
.main-button{

    width: 100%;
    border: none;
    margin-top: 10%;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #202020;
   
}
.sidebar-button{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: transparent;
    color: grey;
    text-align: left;
  padding-left: 25px;
}

.sidebar-button:hover {
    background-color: #505050;
    color:white;
    width: 100%;
}
.sidebar-button::selection {
    border:none;
    background-color: #505050;
    color:white;
    width: 100%;
}
.icon{
   font-size: 24px;
}

.dropbtn {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: transparent;
    color: grey;
    text-align: left;
  padding-left: 25px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: white;}
  .show{
      display:block;
  }


r
.sidebar-ul{
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

/*=======================================
        Sheet.css
======================================*/
/* .sheet-wrapper{
    width:100%;
    grid-area:sheet; 
} */
.sheet{
    display:flex;
    flex-direction: column;
}
.sheet-header{
    justify-content: center;
    height:100%;
}
.sheet-body{
    background:pink;
   
}
.navline{
    margin-top:5%;
}
.row{
   float: left;  
   margin-top: 10%; 
}

.tulogo{
      width: 20%;
      height: 20%;
      float: left;
}
.box{
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border:1px solid white;
    float: left;
    margin-top: 1%;
    margin-left: 30px;
    height: 17%;
    background-color: #5F9EA0;
    text-align: left;
    width: 240px;
    color: white;
}
.boax{
    width: 100%;
  padding-top: 5%;
   background-color: #00868B;
   border: none;
   padding-bottom: 5%;
   margin-top: 15%;
}
.m-box{
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border:1px solid white;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
   height: 350px;
    background-color: #f5f5f5;
    text-align: center;
    width: 60%;
}
.chart{
    margin-top: 0%;
    height: 40vh;
    float: left;
}
.box-button{
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: transparent;
    color: gray;
}
.box-button:hover{
    background-color: #505050;
}

.box-button1{
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: transparent;
}
.box-button1:hover{
    background-color: #505050;
}
.last-box{
    float: left;
    margin-top: 50px;
    margin-left: 40px;
   height: 350px;
    background-color: #f5f5f5;
    text-align: center;
    width: 33%;
}

